@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
html{
    scroll-behavior: smooth;
}
/*side navbar*/
.sidenav {
    margin-top: 100px;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #f6eedf;
    color:black;
    overflow-x: hidden;
    padding: 8px 0;
    text-align: center;
  }
  .sidenav h1{
      text-decoration: underline;
  }
  .sidenav li {
      padding-bottom: 20px;
    text-decoration: none;
    font-size: 25px;
    display: block; 
    text-align: center;
  }
  .sidenav li:hover{
      cursor: pointer;
      animation: colors 0.3s 1;
      background-color: #45046a;
      color: white;
  }
  @keyframes colors{
      from{
          color: black;
          background-color:#f6eedf;
      }
      50%{
        color: 	#A9A9A9;
        background-color:#5c2a9d;
      }
      100%{
        color: white;
        background-color:#45046a;
      }
  }
  .sidenav ul{
      padding: 0;
  }

  #content{
      margin-left: 180px;
      font-size: 28px; 
      padding-left: 30px;
  }
  p{
      margin-top: 0;
      padding-top: 20px;
  }
  #content div{
      text-align: center;
      padding-top: 60px;
  }
  #code{
 background-color: #fb7b6b;
  }
  #face{
      background-color: #1b6ca8;
      color: white;
}
#vehical{
    background-color: #e8e4e1;
}

#content div .img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
#content div h1{
    text-decoration: underline;
}
.framework{
    height: 70px;
    width: 70px;
    margin-bottom: 30px;
}
h2{
    margin-bottom: 10px;
}
/*intro content*/

.intro-content{
        background-image: linear-gradient(rgba(255,192,203, 0.5), rgba(0, 0, 0, 0.5)), url('../resources/work.gif');
        height: 650px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
     text-align: center;
}
.intro-content h1{
    font-size: 5rem;
    position: relative;
    top: 30%;
    color: white;
    font-family: 'Lemonada', cursive;
}
.h1{
    font-family: 'Oswald', sans-serif;
}

@media only screen and (max-width: 750px) {
      h1{
        font-size: 2rem;
    }
    .intro-content h1{
        font-size: 2.5rem;
    }
       p{
        font-size: 1rem;
    }
  }
